<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>351229588734-3fhssgt7jno7t9o6gv4k2875ie4apqgs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.351229588734-3fhssgt7jno7t9o6gv4k2875ie4apqgs</string>
	<key>API_KEY</key>
	<string>AIzaSyC3e1K3Fvm4-56AAy5K_SAEnyMc5p5_4ko</string>
	<key>GCM_SENDER_ID</key>
	<string>351229588734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.googleMapApp</string>
	<key>PROJECT_ID</key>
	<string>maptest-4a569</string>
	<key>STORAGE_BUCKET</key>
	<string>maptest-4a569.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:351229588734:ios:d1064b83df1080f6b0a1af</string>
	<key>DATABASE_URL</key>
	<string>https://maptest-4a569.firebaseio.com</string>
</dict>
</plist>